DISCORD_TOKEN=replace-with-your-bot-token
GOKART_DATA_PATH=data
GOKART_OCR_MAX_SIDE=1600
GOKART_OCR_WORKERS=1
GOKART_OCR_LANG=ch
GOKART_OCR_DEVICE=cpu
GOKART_OCR_ENABLE_MKLDNN=false
GOKART_OCR_CPU_THREADS=8
